[server]

pid_file = ./netuitive-statsd.pid

[handlers]

[[NetuitiveHandler]]

### NetuitiveCloud URL to post the metrics
url = https://api.app.netuitive.com/ingest/infrastructure

### NetuitiveClound Datasource api key
api_key = <valid api key>

[[[statsd]]]
enabled = True
# interval = 60
# listen_port = 8125
# listen_ip = 127.0.0.1
# element_type = SERVER
# prefix = statsd
# forward_ip = 127.0.0.2
# forward_port = 8125
# forward = False

[collectors]

[[default]]
hostname = statsd-test-host

# If you prefer to just use a different way of calculating the hostname
# Uncomment and set this to one of these values:

# smart             = Default. Tries fqdn_short. If that's localhost, uses hostname_short

# fqdn_short        = Default. Similar to hostname -s
# fqdn              = hostname output
# fqdn_rev          = hostname in reverse (com.example.www)

# uname_short       = Similar to uname -n, but only the first part
# uname_rev         = uname -r in reverse (com.example.www)

# hostname_short    = `hostname -s`
# hostname          = `hostname`
# hostname_rev      = `hostname` in reverse (com.example.www)

# shell             = Run the string set in hostname as a shell command and use its
#                     output(with spaces trimmed off from both ends) as the hostname.

# hostname_method = smart

[logger_root]

# to increase verbosity, set DEBUG
level = INFO
handlers = rotated_file
propagate = 1

[handler_rotated_file]

class = handlers.TimedRotatingFileHandler
level = DEBUG
formatter = default
# rotate at midnight, each day and keep 7 days
args = ('./netuitive-statsd.log', 'midnight', 1, 7)


